# Environment variables
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
test_venv/
env/
*.sqlite3
scratch/
*.log

# Node.js / React
node_modules/
dist/
build/
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
